

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a DESIGN YOUR PARADISE</h1>



    <p>Donde puedes construir el paraiso de tus sueños!</p>
</div>
